.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  background: rgba(0, 16, 61, 0.48);
  transition: 0.5s;
  box-sizing: border-box;
  padding: 80px;

  .modal_content {
    max-width: 2000px;
    width: 100%;
    position: relative;
    background: #ffffff;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 44px 40px 60px 40px;

    .modal_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
      }
      .mood_title {
        display: flex;
        align-items: center;
        gap: 20px;
        h1 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
          margin: 0;
        }
      }
    }

    .img_description {
      display: flex;
      gap: 40px;
      margin-top: 39px;
      .modal_img {
        max-width: 600px;
        min-width: 300px;
        img {
          width: 100%;
          border-radius: 12px;
        }
      }
      .text{
      .modal_header_clone {
        display: none;
      }
    }
    }
  }
}

.modalActive {
  display: flex;
}

@media (max-width: 1024px) {
  .modal {
    .modal_content {
      .modal_header {
        .mood_title {
          h1 {
            font-size: 36px;
            line-height: 42px;
          }
        }
      }
      .img_description {
        display: block;
        .modal_img {
          max-width: 381px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .modal {
    padding: 0;

    .modal_content {
      width: 100vw;
      height: 100vh;
      padding: 0;
      .modal_header {
        display: none;
      }
      .img_description {
        position: relative;
        margin: 0;
        .modal_img {
          max-width: 650px;
        }
        .text{
          padding: 20px;
        .modal_header_clone {
          display: block;
          .close {
            position: absolute;
            bottom: 52px;
            right: 15px;
            cursor: pointer;
          }
          .mood_title {
            display: flex;
            align-items: center;
            gap: 20px;
            h1 {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              margin: 0;
            }
          }
          .date {
            margin: 9px 0 17px 5px;
          }
        }
      }
      }
    }
  }
}
