.modal {
  width: 100vw;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 16, 61, 0.48);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  padding: 0 40px;
  box-sizing: border-box;

  .modal__content {
    max-width: 2000px;
    width: 100%;
    position: relative;
    background: #ffffff;
    border-radius: 12px;
    transform: scale(0.5);
    transition: 0.5s all;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding: 44px 40px 60px 40px;
    box-sizing: border-box;

    &.active {
      transform: scale(1);
    }

    .modal__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal__close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        cursor: pointer;
      }
      .modal__title {
        display: flex;
        align-items: center;
        gap: 20px;
        .modal__mood {
          font-size: 48px;
        }
        h1 {
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
          color: #1e2022;
          margin: 0;
        }
      }
      .modal__date {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #1e2022;
      }
    }

    .modal__hero {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-top: 39px;

      .modal__img {
        max-width: 600px;
        min-width: 300px;
        img {
          width: 100%;
          border-radius: 12px;
        }
      }

      .modal__description {
        max-width: 500px;
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          color: #1e2022;
          margin: 0;
        }
      }
    }

    .modal__clone {
      display: none;
    }

    .modal__description_clone {
      display: none;
    }
  }
}

.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1024px) {
  .modal {
    padding: 80px;
    .modal__content {
      padding: 60px 40px 60px 40px;
      .modal__header {
        display: none;
      }
      .modal__hero {
        display: none;
      }
      .modal__clone {
        display: block;
        .modal__header_clone {
          display: flex;
          align-items: center;
          gap: 32px;
          .modal__close {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            cursor: pointer;
          }
          .modal__mood {
            font-size: 36px;
          }
          .modal__title_clone {
            max-width: 800px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
              font-weight: 700;
              font-size: 36px;
              line-height: 42px;
              color: #1e2022;
              margin: 0;
              @media screen and (max-width: 700px) {
                & {
                  font-size: 30px;
                }
              }
            }
            .modal__date {
              font-weight: 300;
              font-size: 18px;
              line-height: 21px;
              color: #1e2022;
            }
          }
        }
        .modal__img_clone {
          max-width: 381px;
          margin-top: 40px;
          img {
            width: 100%;
            border-radius: 12px;
          }
        }
      }
      .modal__description_clone {
        display: block;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #1e2022;
        margin-top: 24px;
      }
    }
  }
}

@media screen and (max-width: 668px) {
  .modal {
    padding: 0;
    .modal__content {
      width: 100vw;
      height: 100vh;
      padding: 0;
      .modal__clone {
        display: flex;
        flex-direction: column-reverse;
        .modal__header_clone {
          display: flex;
          gap: 12px;
          .modal__close {
            position: absolute;
            top: 365px;
            right: 20px;
            cursor: pointer;
          }
          .modal__mood {
            font-size: 18px;
            margin-left: 20px;
          }
          .modal__title_clone {
            width: 100%;
            display: block;
            h1 {
              font-size: 18px;
            }
            .modal__date {
              font-size: 12px;
            }
          }
        }
        .modal__img_clone {
          max-width: 1440px;
          width: 100%;
          margin-top: 0;
          img {
            height: 350px;
          }
        }
      }
      .modal__description_clone {
        font-size: 16px;
        margin: 17px 20px;
      }
    }
  }
}
