.mySelect{
    width: 100%;
    min-width: 60px;
    height: 60px;
    border: none;
    border-radius: 12px;
    font-size: 30px;
}

.mySelect:hover{
    border: 1px solid blue;
}

@media (max-width: 500px) {
    .mySelect{
      height: 40px;
    }
  }